##### screenr configuration file #####
### https://github.com/db711/screenr ###


## Directories

# Path to save images to
image_dir="$HOME/Pictures/Screenshots"

# Path to dropbox directory to be used
db_dir="$HOME/Dropbox/Public/Screenshots"

# Path to logfile (only used, when logging is used)
log_file="$HOME/Pictures/Screenshots/log"


## Programs

# Web browser to open uploaded images with
# "xdg-open" for default/favorite browser
# Leave blank or comment to disable automatic opening of URLs
browser="xdg-open"

# Image manipulation program
img_prg="pinta"

# Image viewser
img_view="feh -F"


## Formatting options

# Formatting of the date used in image name when saved
# Should be precise enough to be unique
# "man date" for help on FORMAT
# Also used in log_file
date_format="+%F-%T"

# Image format
img_format="png"


## Options

# Whether or not URLs of uploaded images
# (and their delete pages in case of imgur) get logged
# 0 is off, anything else is on
logging=0

# Whether or not URLs of upload get copied into the clipboard
# 0 is off, anything else is on
# Requires xsel or xclip
clipping=1

# Whether or not to wait until a file is synced before opening it
# in the web browser, when uploading to dropbox
# 0 is off, anything else is on
db_waiting=1

# Frequency at which to check if file is already snyced when using db_waiting
# Low values require (slightly) more CPU usage, but usually perform better
# If you use too much CPU with this script, disable db_waiting or increase check_interval
check_interval=0.1

# Whether or not to inform the user when a file copied into dropbox finished syncing
# Requires db_waiting to be on
# Available options are "terminal", "notify" and "both"; anything else is off
inform_when_synced=terminal


## rofi options

# Usually you would set rofi options in ~/.Xresources
# If you haven't done that already, do it
# Check possible options using "rofi -dump-xresources"
# If you, however, want to override these global options for this script only,
# do it here (otherwise, comment this line):
rofi_options="-bw 0 -hide-scrollbar -padding 14 -width 25 -lines 7"
